/* Selectbox personalizado */
div[data-baseweb="select"] div[role="combobox"] {
    background-color: #f8fafc !important;
    border-radius: 6px !important;
    padding: 6px 10px !important;
}


div[data-baseweb="select"] > div {
    font-weight: 600;
    color: #1e293b;
}

/* Input del combobox */
input[role="combobox"] {
    background-color: #f8fafc !important;
    color: #0f172a !important;
    caret-color: #f8fafc !important; /* ocultamos el cursor */
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Hover */
div[data-baseweb="select"]:hover {
    border-color: #3b82f6;
    box-shadow: 0 0 8px rgba(59, 130, 246, 0.25);
}

/* Flecha del desplegable */
svg {
    fill: #3b82f6;
}
